        body {
            background-color: #008080;
            font-family: "Assistant";
            cursor: url("cursor.cur"), auto;
        }

        a {
            text-decoration: none;
            color-adjust: black;
            color: black;
        }

        #quote{
            font-weight: 600;
        }
        .header {
            background-color: lightgray;
            background-blend-mode: multiply;
            text-align: center;
            border: 10px solid transparent;
            padding: 5px;
            border-image: url(https://previews.123rf.com/images/iradvilyuk/iradvilyuk1611/iradvilyuk161100056/66761487-memphis-verical-seamless-border-with-geometric-shapes-abstract-80s-90s-styles-design-trendy-memphis-.jpg) 30 round;
        }

        .headertext {
            color: black;
            color-adjust: black;
            font-size: 400%;
            font-weight: 800;
        }

        #mainsong {
            text-align: center;
            font-weight: 400;
            background-color: lightgray;
            border: 10px solid transparent;
            padding: 15px;
            max-width: 500px;
            margin: 0 auto;
            margin-top: 15px;
            border-image: url(https://previews.123rf.com/images/iradvilyuk/iradvilyuk1611/iradvilyuk161100056/66761487-memphis-verical-seamless-border-with-geometric-shapes-abstract-80s-90s-styles-design-trendy-memphis-.jpg) 30 round;
        }

        .images {
            display: flex;
        }

        .imagecolumn {
            flex: 33.33%;
            padding: 5px;
            border: 10px solid transparent;
            padding: 20px;
            margin-top: 15px;
            align-self: center;
        }

        #errorright {
            display: block;
            margin-left: auto;
            margin-right: 0;
        }

        #errorleft {
            display: block;
            margin-left: 0;
            margin-right: auto;
        }

        #mainphoto {
            align-self: center;
            background-color: lightgray;
            border: 10px solid transparent;
            padding: 20px;
            margin-top: 20px;
            border-image: url(https://previews.123rf.com/images/iradvilyuk/iradvilyuk1611/iradvilyuk161100056/66761487-memphis-verical-seamless-border-with-geometric-shapes-abstract-80s-90s-styles-design-trendy-memphis-.jpg) 30 round;
        }

        .linkbar {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .folderbox {
      
            position: relative;
            padding: 5px;
            align-self: center;
        }

        .folderimg {
            max-width: 100px;
            max-height: 100px;
            padding-left:10px;
            padding-right:10px;
            align-content: center;
        }

        .linktext {
            position: absolute;
            top: 50%;
            width: 90%;
            background-color: mediumorchid;
            text-align: center;
            margin-right: 10px;
            font-weight: 700;
            font-size: 16px;
        }